.App {
  text-align: center;
}


.column {
  float: left;
  border: 1px solid blue;
  width: 16.0%;
}

.task {
  border: 2px solid red;
  width: 95%;
}

.columnLabel {
 
  border: 1px solid ;
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  }
.container {
  display: grid;
  grid-template-columns: 100px, 100px, 100px;
 
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.solid { border: 1px solid red;
  background-color: #282c34;}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images img {
  min-width: 100px;
  height: auto;
  margin: 5px;
}
